<a href="https://colab.research.google.com/github/Prima-Rizky/tugas-matakuliah-ai-pak_dika/blob/main/tugas_matkul_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

pd.set_option('display.max_rows', None)     # Menampilkan semua baris
pd.set_option('display.max_columns', None)  # Menampilkan semua kolom

df = pd.read_csv('jumlah fasilitas olahraga samarinda 2022.csv')
df

,Kelurahan dan Kode Wilayah,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,<b>[per Kelurahan]</b> Jumlah Fasilitas Olahra...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bulu Tangkis,Bola Voli,Bola Basket,Tenis,Sepak Bola,Gedung Olahraga,<b>Jumlah</b>
2,NaN,2022,2022,2022,2022,2022,2022,2022
3,Palaran [010],6,11,1,1,7,2,28
4,Simpang Pasir (001),0,1,0,0,1,0,2
5,Handil Bakti (002),1,1,0,1,1,0,4
6,Bantuas (003),2,5,0,0,2,1,10
7,Bukuan (004),2,3,0,0,2,0,7
8,Rawa Makmur (005),1,1,1,0,1,1,5
9,Samarinda Ilir [020],0,0,0,0,0,0,0
10,Selili (006),0,0,0,0,0,0,0
11,Sungai Dama (007),0,0,0,0,0,0,0
12,Sidodamai (008),0,0,0,0,0,0,0
13,Sidomulyo (009),0,0,0,0,0,0,0
14,Pelita (014),0,0,0,0,0,0,0
15,Samarinda Kota [021],1,1,1,1,1,1,6
16,Bugis (001),1,1,1,1,1,1,6
17,Pasar Pagi (002),0,0,0,0,0,0,0
18,Pelabuhan (003),0,0,0,0,0,0,0
19,Sungai Pinang Luar (004),0,0,0,0,0,0,0
20,Karang Mumus (005),0,0,0,0,0,0,0
21,Sambutan [022],7,10,0,0,12,1,30
22,Pulau Atas (001),0,1,0,0,1,0,2
23,Sindang Sari (002),0,2,0,0,1,0,3
24,Makroman (003),2,3,0,0,4,0,9
25,Sambutan (004),3,2,0,0,6,1,12
26,Sungai Kapih (005),2,2,0,0,0,0,4
27,Samarinda Seberang [030],5,7,1,0,2,0,15
28,Mesjid (001),1,1,0,0,0,0,2
29,Baqa (002),1,1,1,0,0,0,3
30,Sungai Keledang (005),0,1,0,0,0,0,1
31,Mangkupalas (006),1,2,0,0,0,0,3
32,Tenun Samarinda (007),1,0,0,0,2,0,3
33,Gunung Panjang (008),1,2,0,0,0,0,3
34,Loa Janan Ilir [031],8,12,1,0,5,1,27
35,Sengkotek (001),1,1,0,0,1,0,3
36,Simpang Tiga (002),2,2,0,0,1,1,6
37,Tani Aman (003),1,1,0,0,1,0,3
38,Harapan Baru (004),1,3,0,0,1,0,5
39,Rapak Dalam (005),3,5,1,0,1,0,10
40,Sungai Kunjang [040],12,4,3,9,5,0,33
41,Loa Buah (001),0,0,0,0,0,0,0
42,Loa Bakung (002),0,0,0,0,0,0,0
43,Karang Asam Ulu (003),0,0,0,0,0,0,0
44,Teluk Lerong Ulu (004),0,0,0,0,0,0,0
45,Lok Bahu (005),0,0,0,0,0,0,0
46,Karang Asam Ilir (006),0,0,0,0,0,0,0
47,Karang Anyar (007),0,0,0,0,0,0,0
48,Samarinda Ulu [050],8,7,7,7,7,0,36
49,Teluk Lerong Ilir (001),0,0,0,0,0,0,0
50,Jawa (002),0,0,0,0,0,0,0
51,Dadi Mulya (004),0,0,0,0,0,0,0
52,Sidodadi (005),0,0,0,0,0,0,0
53,Gunung Kelua (006),0,0,0,0,0,0,0
54,Air Hitam (007),0,0,0,0,0,0,0
55,Air Putih (008),0,0,0,0,0,0,0
56,Bukit Pinang (009),0,0,0,0,0,0,0
57,Samarinda Utara [060],0,0,0,0,0,0,0
58,Lempake (004),0,0,0,0,0,0,0
59,Sempaja Selatan (005),0,0,0,0,0,0,0
60,Sungai Siring (006),0,0,0,0,0,0,0
61,Tanah Merah (010),0,0,0,0,0,0,0
62,Sempaja Utara (011),0,0,0,0,0,0,0
63,Sempaja Timur (012),0,0,0,0,0,0,0
64,Sempaja Barat (013),0,0,0,0,0,0,0
65,Budaya Pampang (014),0,0,0,0,0,0,0
66,Sungai Pinang [061],0,0,0,0,0,0,23
67,Temindung Permai (001),0,0,0,0,0,0,1
68,Bandara (002),0,0,0,0,0,0,5
69,Sungai Pinang Dalam (003),0,0,0,0,0,0,10
70,Mugirejo (004),0,0,0,0,0,0,5
71,Gunung Lingai (005),0,0,0,0,0,0,2

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Kelurahan dan Kode Wilayah  69 non-null     object
 1   Unnamed: 1                  72 non-null     object
 2   Unnamed: 2                  71 non-null     object
 3   Unnamed: 3                  71 non-null     object
 4   Unnamed: 4                  71 non-null     object
 5   Unnamed: 5                  71 non-null     object
 6   Unnamed: 6                  71 non-null     object
 7   Unnamed: 7                  71 non-null     object
dtypes: object(8)
memory usage: 4.6+ KB

In [33]:
new_header = df.iloc[2]
df = df[3:].copy()
df.columns = new_header
df.head()

2                    NaN 2022 2022 2022 2022 2022 2022 2022
3          Palaran [010]    6   11    1    1    7    2   28
4    Simpang Pasir (001)    0    1    0    0    1    0    2
5     Handil Bakti (002)    1    1    0    1    1    0    4
6          Bantuas (003)    2    5    0    0    2    1   10
7           Bukuan (004)    2    3    0    0    2    0    7

In [34]:
df.columns = ['Kelurahan', 'Bulu Tangkis 2022', 'Bola Voli 2022', 'Bola Basket 2022', 'Tenis 2022', 'Sepak Bola 2022', 'Gedung Olahraga 2022', 'Jumlah 2022']
print(df.columns)

Index(['Kelurahan', 'Bulu Tangkis 2022', 'Bola Voli 2022', 'Bola Basket 2022',
       'Tenis 2022', 'Sepak Bola 2022', 'Gedung Olahraga 2022', 'Jumlah 2022'],
      dtype='object')

In [35]:
df.dropna(subset=['Kelurahan'], inplace=True)
df = df[~df['Kelurahan'].str.contains('Jumlah', na=False)]
df = df[df['Jumlah 2022'] != '2022']
df

,Kelurahan,Bulu Tangkis 2022,Bola Voli 2022,Bola Basket 2022,Tenis 2022,Sepak Bola 2022,Gedung Olahraga 2022,Jumlah 2022
3,Palaran [010],6,11,1,1,7,2,28
4,Simpang Pasir (001),0,1,0,0,1,0,2
5,Handil Bakti (002),1,1,0,1,1,0,4
6,Bantuas (003),2,5,0,0,2,1,10
7,Bukuan (004),2,3,0,0,2,0,7
8,Rawa Makmur (005),1,1,1,0,1,1,5
9,Samarinda Ilir [020],0,0,0,0,0,0,0
10,Selili (006),0,0,0,0,0,0,0
11,Sungai Dama (007),0,0,0,0,0,0,0
12,Sidodamai (008),0,0,0,0,0,0,0
13,Sidomulyo (009),0,0,0,0,0,0,0
14,Pelita (014),0,0,0,0,0,0,0
15,Samarinda Kota [021],1,1,1,1,1,1,6
16,Bugis (001),1,1,1,1,1,1,6
17,Pasar Pagi (002),0,0,0,0,0,0,0
18,Pelabuhan (003),0,0,0,0,0,0,0
19,Sungai Pinang Luar (004),0,0,0,0,0,0,0
20,Karang Mumus (005),0,0,0,0,0,0,0
21,Sambutan [022],7,10,0,0,12,1,30
22,Pulau Atas (001),0,1,0,0,1,0,2
23,Sindang Sari (002),0,2,0,0,1,0,3
24,Makroman (003),2,3,0,0,4,0,9
25,Sambutan (004),3,2,0,0,6,1,12
26,Sungai Kapih (005),2,2,0,0,0,0,4
27,Samarinda Seberang [030],5,7,1,0,2,0,15
28,Mesjid (001),1,1,0,0,0,0,2
29,Baqa (002),1,1,1,0,0,0,3
30,Sungai Keledang (005),0,1,0,0,0,0,1
31,Mangkupalas (006),1,2,0,0,0,0,3
32,Tenun Samarinda (007),1,0,0,0,2,0,3
33,Gunung Panjang (008),1,2,0,0,0,0,3
34,Loa Janan Ilir [031],8,12,1,0,5,1,27
35,Sengkotek (001),1,1,0,0,1,0,3
36,Simpang Tiga (002),2,2,0,0,1,1,6
37,Tani Aman (003),1,1,0,0,1,0,3
38,Harapan Baru (004),1,3,0,0,1,0,5
39,Rapak Dalam (005),3,5,1,0,1,0,10
40,Sungai Kunjang [040],12,4,3,9,5,0,33
41,Loa Buah (001),0,0,0,0,0,0,0
42,Loa Bakung (002),0,0,0,0,0,0,0
43,Karang Asam Ulu (003),0,0,0,0,0,0,0
44,Teluk Lerong Ulu (004),0,0,0,0,0,0,0
45,Lok Bahu (005),0,0,0,0,0,0,0
46,Karang Asam Ilir (006),0,0,0,0,0,0,0
47,Karang Anyar (007),0,0,0,0,0,0,0
48,Samarinda Ulu [050],8,7,7,7,7,0,36
49,Teluk Lerong Ilir (001),0,0,0,0,0,0,0
50,Jawa (002),0,0,0,0,0,0,0
51,Dadi Mulya (004),0,0,0,0,0,0,0
52,Sidodadi (005),0,0,0,0,0,0,0
53,Gunung Kelua (006),0,0,0,0,0,0,0
54,Air Hitam (007),0,0,0,0,0,0,0
55,Air Putih (008),0,0,0,0,0,0,0
56,Bukit Pinang (009),0,0,0,0,0,0,0
57,Samarinda Utara [060],0,0,0,0,0,0,0
58,Lempake (004),0,0,0,0,0,0,0
59,Sempaja Selatan (005),0,0,0,0,0,0,0
60,Sungai Siring (006),0,0,0,0,0,0,0
61,Tanah Merah (010),0,0,0,0,0,0,0
62,Sempaja Utara (011),0,0,0,0,0,0,0
63,Sempaja Timur (012),0,0,0,0,0,0,0
64,Sempaja Barat (013),0,0,0,0,0,0,0
65,Budaya Pampang (014),0,0,0,0,0,0,0
66,Sungai Pinang [061],0,0,0,0,0,0,23
67,Temindung Permai (001),0,0,0,0,0,0,1
68,Bandara (002),0,0,0,0,0,0,5
69,Sungai Pinang Dalam (003),0,0,0,0,0,0,10
70,Mugirejo (004),0,0,0,0,0,0,5
71,Gunung Lingai (005),0,0,0,0,0,0,2

In [36]:
cols_to_convert = ['Bulu Tangkis 2022', 'Bola Voli 2022', 'Bola Basket 2022', 'Tenis 2022', 'Sepak Bola 2022', 'Gedung Olahraga 2022', 'Jumlah 2022']
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 3 to 71
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Kelurahan             69 non-null     object
 1   Bulu Tangkis 2022     69 non-null     int64
 2   Bola Voli 2022        69 non-null     int64
 3   Bola Basket 2022      69 non-null     int64
 4   Tenis 2022            69 non-null     int64
 5   Sepak Bola 2022       69 non-null     int64
 6   Gedung Olahraga 2022  69 non-null     int64
 7   Jumlah 2022           69 non-null     int64
dtypes: int64(7), object(1)
memory usage: 4.4+ KB

In [37]:
df.head()

,Kelurahan,Bulu Tangkis 2022,Bola Voli 2022,Bola Basket 2022,Tenis 2022,Sepak Bola 2022,Gedung Olahraga 2022,Jumlah 2022
3,Palaran [010],6,11,1,1,7,2,28
4,Simpang Pasir (001),0,1,0,0,1,0,2
5,Handil Bakti (002),1,1,0,1,1,0,4
6,Bantuas (003),2,5,0,0,2,1,10
7,Bukuan (004),2,3,0,0,2,0,7

In [38]:
# Binarisasi kolom 'Jumlah 2022'
# Kita akan membuat kolom baru 'Ada Fasilitas Olahraga'
# Nilai 1 jika 'Jumlah 2022' > 0, dan 0 jika 'Jumlah 2022' == 0
df['Ada Fasilitas Olahraga'] = (df['Jumlah 2022'] > 0).astype(int)

# Menampilkan hasil binarisasi
print("DataFrame setelah Binarisasi:")
display(df.head())

DataFrame setelah Binarisasi:

,Kelurahan,Bulu Tangkis 2022,Bola Voli 2022,Bola Basket 2022,Tenis 2022,Sepak Bola 2022,Gedung Olahraga 2022,Jumlah 2022,Ada Fasilitas Olahraga
3,Palaran [010],6,11,1,1,7,2,28,1
4,Simpang Pasir (001),0,1,0,0,1,0,2,1
5,Handil Bakti (002),1,1,0,1,1,0,4,1
6,Bantuas (003),2,5,0,0,2,1,10,1
7,Bukuan (004),2,3,0,0,2,0,7,1

**Penjelasan Kode Binarisasi:**

Pada bagian ini, kita melakukan proses binarisasi pada kolom 'Jumlah 2022'. Binarisasi adalah teknik transformasi data di mana nilai-nilai numerik diubah menjadi salah satu dari dua nilai diskrit, biasanya 0 dan 1. Dalam konteks ini, kita ingin mengetahui apakah suatu kelurahan memiliki fasilitas olahraga atau tidak, tanpa memperhatikan berapa jumlah pastinya.

Langkah-langkah dalam kode tersebut adalah sebagai berikut:

1.  `df['Ada Fasilitas Olahraga']`: Ini membuat kolom baru di DataFrame kita yang diberi nama 'Ada Fasilitas Olahraga'. Kolom ini akan menyimpan hasil binarisasi.
2.  `(df['Jumlah 2022'] > 0)`: Ini adalah operasi boolean yang membandingkan setiap nilai di kolom 'Jumlah 2022' dengan angka 0. Jika nilai di kolom 'Jumlah 2022' lebih besar dari 0, hasilnya adalah `True`. Jika nilainya 0 atau kurang, hasilnya adalah `False`.
3.  `.astype(int)`: Metode ini digunakan untuk mengubah tipe data dari hasil boolean (`True`/`False`) menjadi integer (`1`/`0`). `True` akan menjadi 1, dan `False` akan menjadi 0. Dengan demikian, kolom 'Ada Fasilitas Olahraga' akan berisi 1 jika kelurahan tersebut memiliki fasilitas olahraga, dan 0 jika tidak.

**Output Binarisasi:**

Output menampilkan beberapa baris pertama dari DataFrame setelah kolom 'Ada Fasilitas Olahraga' ditambahkan. Anda dapat melihat bahwa kolom baru ini berisi nilai 0 atau 1, yang menunjukkan keberadaan fasilitas olahraga di setiap kelurahan.

In [39]:
from sklearn.preprocessing import MinMaxScaler

# Pilih 3 kolom numerik untuk normalisasi
# Sebagai contoh, kita pilih 'Bulu Tangkis 2022', 'Bola Voli 2022', dan 'Sepak Bola 2022'
cols_to_normalize = ['Bulu Tangkis 2022', 'Bola Voli 2022', 'Sepak Bola 2022']

# Inisialisasi MinMaxScaler untuk rentang [-1, 1]
scaler = MinMaxScaler(feature_range=(-1, 1))

# Lakukan normalisasi pada 3 kolom yang dipilih
df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])

# Menampilkan hasil normalisasi
print("DataFrame setelah Normalisasi (rentang -1 hingga 1) pada 3 kolom terpilih:")
display(df.head())

DataFrame setelah Normalisasi (rentang -1 hingga 1) pada 3 kolom terpilih:

,Kelurahan,Bulu Tangkis 2022,Bola Voli 2022,Bola Basket 2022,Tenis 2022,Sepak Bola 2022,Gedung Olahraga 2022,Jumlah 2022,Ada Fasilitas Olahraga
3,Palaran [010],0.000000,0.833333,1,1,0.166667,2,28,1
4,Simpang Pasir (001),-1.000000,-0.833333,0,0,-0.833333,0,2,1
5,Handil Bakti (002),-0.833333,-0.833333,0,1,-0.833333,0,4,1
6,Bantuas (003),-0.666667,-0.166667,0,0,-0.666667,1,10,1
7,Bukuan (004),-0.666667,-0.500000,0,0,-0.666667,0,7,1

**Penjelasan Kode Normalisasi:**

Selanjutnya, kita melakukan normalisasi data menggunakan metode Min-Max Scaling dengan rentang nilai antara -1 dan 1, namun kali ini hanya pada 3 kolom numerik yang kita pilih. Normalisasi penting untuk menyamakan skala fitur-fitur yang berbeda sehingga tidak ada satu fitur pun yang mendominasi dalam analisis atau model berbasis jarak.

Langkah-langkah dalam kode tersebut adalah sebagai berikut:

1.  `from sklearn.preprocessing import MinMaxScaler`: Mengimpor kelas `MinMaxScaler` dari modul `sklearn.preprocessing`.
2.  `cols_to_normalize`: Mendefinisikan daftar yang hanya berisi 3 nama kolom numerik yang akan dinormalisasi sesuai permintaan. Dalam contoh ini, kita memilih 'Bulu Tangkis 2022', 'Bola Voli 2022', dan 'Sepak Bola 2022'. Anda bisa mengganti nama kolom ini sesuai kebutuhan analisis Anda.
3.  `scaler = MinMaxScaler(feature_range=(-1, 1))`: Menginisialisasi objek `MinMaxScaler` dengan `feature_range` diatur ke `(-1, 1)`. Ini memastikan bahwa setelah normalisasi, semua nilai dalam kolom yang dipilih akan berada dalam rentang tertutup dari -1 hingga 1.
4.  `df[cols_to_normalize] = scaler.fit_transform(df[cols_to_normalize])`: Ini adalah langkah di mana normalisasi diterapkan.
    *   `scaler.fit(df[cols_to_normalize])`: Objek `scaler` mempelajari skala (nilai minimum dan maksimum) dari data di 3 kolom yang dipilih.
    *   `scaler.transform(df[cols_to_normalize])`: Kemudian, data di 3 kolom tersebut diubah (diskalakan) menggunakan rumus Min-Max Scaling agar sesuai dengan rentang [-1, 1]. Rumusnya adalah: